
.container
{
    height: 100vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
.head
{
    height: 15vh;
    width: 100%;
    box-sizing: border-box;
    
    background: #0A1045;
}
.logo
{
    
    height: 15vh;
    width: 14vw;
    font-size: 50px;
    box-sizing: border-box;
    line-height: 7.5vh;
    margin-left: 4vw;
    line-height: 15vh;
    vertical-align: middle;

    font-family: 'Bodoni Moda', serif;

    float: left;
}
.logo a
{
    color: #FFF133;
    text-decoration: none;
}
.navbar
{
    padding-left: 15vw;
    box-sizing: border-box;
    height: 15vh;
    width: 80vw;
    float: left;
    line-height: 15vh;
}
.navbar a
{
    font-size: 20px;
    text-decoration: none;
    color: #EBEAEA;
    margin-right: 100px;
    padding-bottom: 10px;
}
a.active
{
    border-bottom: solid 2px #FFF133;
}
.body
{
    min-height: 75vh;
    width: 100%;
    box-sizing: border-box;
}
.footer
{
    height: 10vh;
    width: 100%;
    box-sizing: border-box;
    background: #141515;
    color: #ebeaead7;
    position: relative;
}
.footer::after
{
    font-size: 14px;
    content:"";
    position: absolute;
    z-index: 0;
    top: 10px;
    bottom: 10px;
    left: 50%;
    border-left: 1px solid #7D7878;
    
    transform: translate(-50%);
} 
.l
{
    font-size: 14px;
    box-sizing: border-box;
    float: left;
    height: 100%;
    width: 50%;
    text-align: right;
    vertical-align: middle;
    line-height: 10vh; 
    
    padding-right: 100px;
}

.r
{
    font-size: 17px;
    box-sizing: border-box;
    float: left;
    height: 100%;
    width: 50%;
    text-align: left;
    vertical-align: middle;
    line-height: 10vh; 
    
    padding-left: 100px;
    
}
.r a
{
    margin-right: 100px; 
    text-decoration: none;
    color: #ebeaead7;
}
.r a:hover
{
    color: #2541B2;
}
small
{
    color: #EBEAEA;
}